h1 {
  font-size: 60px;
  margin-right: 12px;
  color: rgb(94, 91, 91);
}

h1 span {
  font-weight: 800;
  color: #b76efd;
  font-size: 70px;
}

.target-title {
  margin-right: 12px;
  width: 300px;
}

.target-title-second {
  height: 96px;
  white-space: nowrap;
}

.div-titles {
  text-align: left;
  position: relative;
  width: 35%;
  margin-left: 25px;
}

.div-titles p {
  font-size: 22px;
  border-top: 1px solid rgb(187, 185, 185);
  border-bottom: 1px solid rgb(187, 185, 185);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.more-info {
  border: solid 2px rgb(187, 185, 185);
  border-radius: 30px;
  padding: 10px;
  color: rgb(187, 185, 185);
  cursor: pointer;
  transition: all ease-in-out 1s;
  width: 230px;
  text-align: center;
  margin-top: 70px;
}

.more-info:hover {
  color: #b76efd;
  border: #b76efd solid 2px;
  transform: scale(1.1);
}

.div-cosmonaute {
  width: 60%;
  height: 100%;
  margin: auto 0px;
}

.cosmonaute {
  width: 100%;
  transform: scaleX(-1) translateY(0);
  animation: levitate 2s ease-in-out infinite alternate;
}

@keyframes levitate {
  0% {
    transform: scaleX(-1) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateY(-20px);
  }
  100% {
    transform: scaleX(-1) translateY(0);
  }
}

.article-acceuil {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
