.article-apropos h1 {
  text-align: center;
  margin: 0px auto 20px auto;
  font-size: 45px;
  color: rgb(167, 165, 165);
}

.section-apropos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 35px;
  padding: 25px;
  border: solid 1px rgb(202, 202, 202);
  transition: all 1s ease-in-out;
}

.div-photo-profil {
  border: solid 1px rgb(155, 153, 153);
  border-radius: 50%;
  margin-right: 30px;
  height: 350px;
  width: 350px;
  background-position: center;
  background-size: cover;
  background-image: url(../../assets/images/photo-bob.png);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.div-description-profil {
  width: 65%;
  height: 440px;
}

.name-apropos {
  color: #989de7;
  font-size: 34px;
  font-style: italic;
}

.button-photo {
  color: rgb(187, 185, 185);
  background-color: white;
  font-size: 30px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  margin-left: 50px;
  cursor: pointer;
  border: 2px solid rgb(187, 185, 185);
  transition: all 1s ease-in-out;
}

.button-photo:hover {
  color: #b76efd;
  border: #b76efd solid 2px;
  transform: scale(1.1);
}

.section-apropos.full-width {
  width: 100%;
}

.div-photo-profil.visible {
  opacity: 1;
}
