header {
  padding: 10px 0px;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.747);
  transition: all 0.8s;
  max-width: 1440px;
}

.hide-header {
  transform: translateY(-100%);
}

.toggle-btn {
  display: none;
}
.toggle-btn .nav-link {
  width: 800px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(151, 150, 150);
  cursor: pointer;
}

.nav-link li {
  transition: all 0.3s ease;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
}

.nav-link li:hover {
  transform: translateY(25px);
  border-bottom: solid 1px #b76efd;
}

.nav-link li.bounce {
  animation-name: bounce;
  animation-duration: 0.5s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  75% {
    transform: translateY(-8px);
  }
}

.logo-responsiv {
  height: 80px;
}

.mobile-responsiv {
  height: 80px;
  display: none;
}

@media (max-width: 768px) {
  header.flexCenter {
    align-items: flex-start;
    background-color: transparent;
  }

  header {
    width: 250px;
    padding: 0px;
  }
  .logo-responsiv {
    display: none;
  }
  .mobile-responsiv {
    display: block;
  }

  .nav-link {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.747);
    justify-content: space-between;
    font-size: 25px;
  }

  .nav-link li {
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    font-weight: 800;
    color: grey;
  }

  .nav-link li.bounce {
    animation-name: none;
    animation-duration: 0s;
  }

  .nav-link li:hover {
    transition: none;
    transform: none;
    background-color: #b76efd;
    color: white;
  }

  .nav-link li a:hover {
    color: white;
  }

  #side-bar {
    position: absolute;
    width: 230px;
    height: 100%;
    background: #b76efd;
    top: 0;
    left: -230px;
    transition: 0.6s ease-out;
    z-index: 4;
  }
  .toggle-btn {
    position: absolute;
    top: 30px;
    left: 270px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: block;
  }
  .toggle-btn span {
    width: 60px;
    height: 10px;
    border-radius: 5px;
    background: #b76efd;
    display: block;
    margin-top: 4px;
    transition: 0.4s ease;
  }

  .active span {
    position: absolute;
  }

  .active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .active span:nth-child(2) {
    opacity: 0;
  }
  .active span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .hide-header {
    transform: translateX(-100%);
  }
}
